*{
  padding: 10px;
}
.navbar {
  background: blue;
}

.forecast-box{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  border: 1px solid black hidden;
}

.container {
  padding: 0;
  
}
.card{
  overflow: hidden;
  border-radius: 50px;
}

.card-body {
  text-align: center;
  margin-bottom: 20px;
}
li {
  font-size: 15px;
}

.history {
  padding: 20px;
}